* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2 {
    text-transform:uppercase;
    margin: 1rem 0;
}
.container {
    max-width: 1200px;
    margin-inline: auto;
}
.display {
    /* max-width: ; */
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    ;
    /* display: flex; */
    /* flex-flow: row wrap; */
    gap: 1rem;
}
article > article {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    max-width: 300px;
}
img {
    max-width: 100%;
    padding: -10px;
}